<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	     <typeAlias type="yanoll.models.vo.Users" alias="Users"/>
	     <typeAlias type="yanoll.models.vo.Hotel" alias="Hotel"/>
	     <typeAlias type="yanoll.models.vo.SearchCondition" alias="SearchCondition"/>
	     <typeAlias type="yanoll.models.vo.Login" alias="Login"/>
	     <typeAlias type="yanoll.models.vo.Booking" alias="Booking"/>
	    <typeAlias type="yanoll.models.vo.Review_Board" alias="Review_Board"/> 
	    <typeAlias type="yanoll.models.vo.Enquire_Board" alias="Enquire_Board" />
       <typeAlias type="yanoll.models.vo.Enquire_Search" alias="Enquire_Search" />
       <typeAlias type="yanoll.models.vo.Enquire_List" alias="Enquire_List" />
       <typeAlias type="yanoll.models.vo.Enquire_Reply" alias="Enquire_Reply" />
       <typeAlias type="yanoll.models.vo.Hotel_room" alias="Hotel_room" />
	     <!-- <typeAlias type="yanoll.models.vo.Review_listModel" alias="Review_listModel"/> -->
	     <!-- <typeAlias type="yanoll.models.vo.Enquire_Board" alias="Enquire_Board"/> -->
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="yanoll/mapper/Users.xml"/>
		<mapper resource="yanoll/mapper/Review_Board.xml"/>
		<mapper resource="yanoll/mapper/Enquire_Board.xml" />
		<mapper resource="yanoll/mapper/Hotel.xml"/>
		
		<!-- <mapper resource="yanoll/mapper/ManagerBoard.xml"/> -->
	</mappers>
	
</configuration>
